.navbar {
  background-color: white;
}

.name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.938;
  text-decoration: none;
}

.name-first {
  color: #2196f3;
}
.name-second {
  color: black;
}

.navigation {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation:hover {
  color: #2196f3;
}

.contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact:hover {
  color: #2196f3;
}

.contact:focus {
  color: #2196f3;
}

.header {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
  color: white;
}

.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-button {
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.solutions {
  background-color: white;
}

.solutions-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.solutions-item {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

.whatwedo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.categories {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
}

.categories:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

.categories:active {
  background-color: #2196f3;
  color: white;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  height: 252px;
}

.footer-name {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.938;
  text-decoration: none;
}

.footer-name-first {
  color: #2196f3;
}

.footer-name-second {
  color: white;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover {
  color: #2196f3;
  cursor: pointer;
}

.footer-contact:focus {
  color: #2196f3;
}
